@import 'bootstrap/dist/css/bootstrap';


.search-area {
  padding-top: 25px;
}

.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}


.user-name {
  margin-top: 3.5%;
  padding-right: 20px;
}
